# Laravel & PHP cache
/bootstrap/cache/*
/storage/logs/*
/storage/framework/*

# Build and cache files
/.next
/.cache
/build
/dist
/out
/node_modules
/vendor

# IDE and editor settings
/.vscode
/.idea
/.phpunit.cache
/.phpunit.result.cache
/.phpactor.json

# System files
.DS_Store
Thumbs.db
*.log
*.lock

/public/build

/storage/*
!/storage/app
!/storage/framework
!/storage/logs

# Ignore environment file
.env
